@import url( "baseCommonStyles.css" );

* { 
    color: var( --light-theme-foreground-color );
    font-family:'Segoe UI';
    font-size: 16pt;
    margin-left: 1%;
    margin-right: 1%;
}


.DivHeaderClass {
    position: relative;
    display: flex;
    height: fit-content;
    width: 100vw;
    margin-top: -1.71vh;
    margin-left: -3%;
    margin-right: -3%;
    padding-left: 0%;
    padding-right: 0%;
}

.HeaderIFrameClass {
    width: 100%;
    height: 22rem;
    border: none;
    margin-left: 0;
    margin-right: 0;
    padding: 0%;
}

.DivFooterClass {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 99.08vw;
    margin-left: -2%;
    margin-right: -50%;
    padding-bottom: -20vh;
}

.FooterIFrameClass {
    width: 100%;
    height: 19.6rem;
    border: none;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -10vh;
    padding: 0%;
}

#siteCaptionId {
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

/* Con un selector de clase selecciona 3 elementos de tu página, con propiedades de estilo: color y tamaño de fuente. */
.PageDescriptionClass, .MissionClass, .ThanksForVisitingClass {
    p, strong, em {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        font-size: 20pt;
        color: slateblue;
        text-align: center;
    }
}

/* Selecciona un elemento de bloque por id, agrégale propiedades alineación de texto centrado y decoración de texto subrayado. */
#idMomentosEnNuestraLaborP {
    text-align: center;
    text-decoration: underline;
}

/* Selecciona un elemento en línea debe tener texto en negritas y transformación del texto a capitalizado. */
#Farmacia span {
    font-weight: bold; 
    text-transform: capitalize;
}

.MissionClass p {
    width: 50%;
    font-weight: bold;
}

/* Agregue a las imágenes de su página web y selecciónelas con un selector de atributos. 
Colocarle ancho, alto y borde con un radio de 50% (border-radius). */
img[width="700"] { /* Selecciona la Imagen de la Farmacia que es la que coincide con el valor del atributo de ancho especificado */
    width: 750px;
    height: 1000px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 7px solid var( --kryptonvet-foreground-dark-color );
}

h1 {
    font-size: 36pt;
    padding-top: 1%;
}

h2 {
    font-size: 24pt;
    margin-left: 0%;
}

h3 {
    font-size: 20pt;
    margin-left: 0%;
}

h4 {
    font-size: 16pt;
}

p {
    text-align: justify;
    line-height: 2.0;
}

iframe, video {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#FundadorImgId {
    -webkit-mask-image: -webkit-linear-gradient( black 98%, transparent );
    mask-image: linear-gradient( black 98%, transparent );
}

#MomentosEnNuestraLabor, #NuestroEquipo {
    table {
        margin-left: auto;
        margin-right: auto;

        img {
            
            transition: box-shadow .1s ease, scale .1s ease;

            &:hover {
                box-shadow: 8px 8px 12px rgba( 0, 0, 0, .5 );
                scale: 1.2;
                transition: box-shadow .3s ease, scale .3s ease;
            }
        }
    }
}

#NuestroEquipo table {
    width: 93%;
        
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        -webkit-mask-image: -webkit-linear-gradient( black 80%, transparent );
        mask-image: linear-gradient( black 80%, transparent );
    }

    td { 
        padding-left: 1.5%;
        padding-right: 1.7%;
        vertical-align: top;
    }
}

button {
    width: 35%;
    height: 55px;
}

body {
    transition: background-color 0.5s ease;
    background-color: var( --light-theme-background-color );
}

.ClarkClass strong {
    color: var( --kryptonvet-foreground-dark-color ) !important;
    text-align: center;
}

form {
    input[type="text"], input[type="email"], input[type="tel"]  {
        width: 50%;
        padding: 8px;
        margin-top: 1vh;
        margin-bottom: 3vh;
        padding-inline: 1vw;
        border: 1px solid orange;
        border-radius: 4px; /* Rounded corners for a modern look, queda bonito */
        box-sizing: border-box;
    }
    #lblPhoneId {
        padding-right: 14.57%;
    }

    #txtPhoneId {
        width: 21%;
        margin-right: 0%;
    }

    #txtEmailId {
        width: 27.6%;
    }

    #lblAcceptanceId {
        cursor: pointer;
    }

    input[type="checkbox"] {
        cursor: pointer;
        transform: scale( 2 );
        accent-color: var( --kryptonvet-foreground-dark-color );
        border-color: orange;
    }

    select {
        width: 50%;
        padding: 8px;
        margin-top: 1vh;
        margin-bottom: 10vh;
        padding-inline: 1vw;
        border: 1px solid orange;
        border-radius: 4px;
        box-sizing: border-box;
        cursor: pointer;
    }

    input[type="submit"] {
        background-color: var( --kryptonvet-foreground-dark-color );
        color: white;
        border: none;
        width: 10%;
        padding: 10px 20px;
        margin-top: 4vh;
        margin-bottom: 2vh;
        border-radius: 4px; /* Rounded corners para un lindo look y estilo moderno */
        text-transform: uppercase;
        cursor: pointer;
        transition: background-color .2s ease;

        &:hover {
            background-color: var( --kryptonvet-button-hover-color ); /* Lighter on hover */
            transition: background-color .3s ease;
        }

        &:active { 
            background-color: var( --kryptonvet-button-pressed-color ); /* Darker on press */
            transition: background-color .1s ease;
        }
    }
}

